<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title> 404 page </title>
</head>
<body>

    <div class="page-wrap d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block"> 404 </span>
                    <div class="mb-4 lead"> The page you are looking for was not found.</div>
                    <a href="{% url 'gettasks' %}" class="btn btn-link">Back to Home</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
